<div class="container">
  <mat-toolbar color="primary" class="toolbar">
    <span>{{ title }}</span>
  </mat-toolbar>
  <main>
    <mat-drawer-container class="sidenav-container">
      <mat-drawer mode="side" opened class="sidenav"></mat-drawer>
      <mat-drawer-content class="content">
        <router-outlet></router-outlet>
      </mat-drawer-content>
    </mat-drawer-container>
  </main>
  <footer>
    <span><mat-icon class="copyright-icon">copyright</mat-icon> 2025</span>
  </footer>
</div>
