.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.toolbar {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  position: relative;
  z-index: 2;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

footer {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: #fff;
  padding: 0 8px;
  background-color: #3f51b5;
}

footer span {
  display: flex;
  align-items: center;
  gap: 4px;
}

.sidenav-container {
  flex: 1;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #f8f8f8;
}

.sidenav {
  width: 250px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background-color: #fff;
}

.content {
  flex: 1;
}

.sidenav .sidenav-link {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  padding: 0 16px;
  line-height: 48px;
}

.sidenav .sidenav-link:hover {
  background-color: #3f51b5;
  color: #fff;
}

.sidenav .sidenav-link.active-link {
  background-color: #3f51b5;
  color: #fff;
}

mat-list-item {
  padding: 0 !important;
}

::ng-deep .mat-mdc-list-item-content {
  padding: 0 !important;
}
